<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blockasaurus 🦖</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <header>
      <h1>
        Blockasaurus 🦖
      </h1>
    </header>

    <main>
      <div id="twitterUser" style="position:fixed;top:20px;right:20px;"></div>
      <p class="bold">Roar</p>
      
      <p>This blocks every twitter account you submit in the big text area below.</p>
      
      <p class="bold">This will use Twitter's OAuth services</p>
      <form action="/request-token" method="post">
        <label class="form-block">Block list <textarea name="blocklist" required class="form-block" placeholder="The account screen names to block go in here. @ symbols are optional. Any separators are fine: spaces, commas, newlines, whatever. Duplicates get skipped." aria-labelledby="submit-block"></textarea></label>
        <!-- Reporting as spam does not work in poop-blocked or blockasaurus so far. Maybe add it back in later with testing. -->
        <!-- <label class="form-block"><input id="reportauth" name="report" type="checkbox"> Report as spam?</label> <br><br> -->
        <input id="input_logged_in" type="hidden" name="logged_in" value="false">
        <button type="submit" class="form-block">Block them all</button>
      </form>
      <p>
        <a href="/faq">FAQ</a>
      </p>
    </main>

    <footer>
      Made by <a href="https://twitter.com/JoeSondow/">@JoeSondow</a>,   
      based on <a href="https://github.com/Rumpelcita/poop-blocker">poop-blocker</a> 
      made by <a href="https://github.com/Rumpelcita">rumpel</a>
      with <a href="https://glitch.com">Glitch</a><br>
    </footer>

    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script src="/client.js" defer></script>
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
  </body>
</html>
